.bose{
  padding: 0 0 0 0.333rem;
  height: 1.333rem;
  background: #fff;
}

.bose-span{
  font-size: 14px;
  color: #333333;
}
.bose-i{
  font-size: 16px;
  color: #d81b1b;
}

.bose-span2{
  font-size: 21px;
  color: #d81b1b;
}
.bose-p{
  float: right;
  width: 3.0667rem;
  height: 100%;
  background: #fce1bb;
  font-size: 19px;
  color: #e9502b;
  text-align: center;
  line-height: 1.306rem;
}
.bose-cs{
  height: 100%;
}
