 $normalColor : #333333;
 $normalFontSize : .28rem;

 $fontSizeMax : .32rem;
 $fontSizeMax2 : .3rem;

 $fontSizeMin : .26rem;
 $fontSizeMin2 : .24rem;

 $btnBgColor : #ffdd00;
 $btnColor : #333333;
 $btnBgColor2 : #e8e8e8;
 $btnColor2 : #bbbbbb;

 $borderColor : #d8d8d8;
 $borderSize : .01rem;
 $borderSize2 : 1px;

 $psTextColor : #999999;
 $psTextColor2 : #bbbbbb;
 $psTextColor3 : #dadada;
 $highColor :#f3a442;
 $highColor2 :#42A4ff;

 $failColor :#FF6363;

 $linkTextColor : #42a4ff;

 $left : .24rem;



 $btnBgColorXH : #0bc1f0;
 $btnColorXH : #ffffff;
 $highColorXH : #0bc1f0;
