<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单支付</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_t4d6ts6aj0q0vn29.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/shoppingCart.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="../js/myjs.js"></script>
    <style>
        .order-item-li{
            padding: 7px 0 0;
        }
        .order-item-li-i{
            position: absolute;
            right: -22px;
            color: #f0790f;
            font-weight: normal;
            top: 0;
            font-size: 12px;
        }
        .order-item-li span{
            position: relative;
            font-size: 14px;
        }
    </style>
</head>
<body style="background-color: #f2f2f2;">
<header>
    <div class="head">
        <div class="h-L"><a href="javascript:window.history.back();" class="h-L-a"><i class="iconfont icon-left" style="color: #fff;"></i></a></div>
        <div class="h-C">订单支付</div>
        <div class="h-R"></div>
    </div>
</header>
<div>
    <form method="POST">
        <input type="hidden" name="takeout_zlt" value="true">
        <input type="hidden" name="check_html" value="true">
        <input type="hidden" name="check_html" value="true">
        <input type="hidden" name="action" value="takeout_confirm">
        <input type="hidden" name="orderid">
        <section >
            <div class="m20-t">
                <div class="bfff">
                    <div class="p20-lr" style="border-bottom:1px solid #f2f2f2;">
                        <div class="clearb" style="height: 3.25rem;">
                            <p class="fl order-number">订单号：{{OrderId.slice(8)}}</p>
                            <p class="fr order-state">待付款</p>
                        </div>
                    </div>
                    <div class="p20-lr" style="border-bottom:1px solid #f2f2f2;">
                        <ul class="order-item">

                        </ul>
                    </div>
                    <div class="p20-lr" style="border-bottom:1px solid #f2f2f2;padding:.8125rem 1.25rem;">
                        <div class="clearb order-discount-msg">
                            <span class="fl" style="font-size:.75rem;color:#666;">配送费</span>
                            <span class="fr order-discount-Distribution" style="font-size:.75rem;color:#666;"></span>
                        </div>
                        <div class="clearb order-discount-msg">
                            <span class="fl" style="font-size:.75rem;color:#666;">优惠金额</span>
                            <span class="fr order-discount-discount" style="font-size:.75rem;color:#666;"></span>
                        </div>
                        <div class="clearb order-discount-msg">
                            <span class="fl" style="font-size:.875rem;color:#333;">总计</span>
                            <span class="fr order-discount-total" style="font-size:.875rem;color:#f0790f;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pay-way">
                <div class="choose clearb">
                    <p><span>选择支付方式</span><span id="actual-payment">{{"￥"+message.data.actual_payment}}</span><span>需支付</span></p>
                </div>
                <div class="pay-container">
                    <label for="yue" class="pay-label"></label>
                    <div class="pay-icon"><i class="iconfont icon-qiandaizi" style="font-size:1.375rem;"></i></div>
                    <div class="pay-type">
                        <p>余额支付</p>
                        <p>用账号余额支付</p>
                    </div>
                    <div class="pay-checked">
                        <label>
                            <input type="radio" name="bank" onchange="payType(this)" id="yue" ng-model="pay" value="zhanglitong" class="hide">
                            <span><i></i></span>
                        </label>
                    </div>
                </div>
                <div class="enter-pass">

                </div>

                <div class="pay-container">
                    <label for="alipay" class="pay-label"></label>
                    <div class="pay-icon"><i class="iconfont icon-zhifubao" style="font-size:1.375rem;"></i></div>
                    <div class="pay-type">
                        <p>支付宝支付</p>
                        <p>推荐安装支付宝10.0.0及以上版本</p>
                    </div>
                    <div class="pay-checked">
                        <label>
                            <input type="radio" id="alipay" onchange="payType(this)" name="bank" ng-model="pay" value="alipay" class="hide">
                            <span><i></i></span>
                        </label>
                    </div>
                </div>
                <div class="pay-container">
                    <label for="weixin" class="pay-label"></label>
                    <div class="pay-icon"><i class="iconfont icon-weixinzhifu" style="font-size:1.375rem;"></i></div>
                    <div class="pay-type">
                        <p>微信支付</p>
                        <p>推荐安装微信6.0.2及以上版本</p>
                    </div>
                    <div class="pay-checked">
                        <label>
                            <input type="radio" id="weixin" onchange="payType(this)" name="bank" ng-model="pay" value="weixin" class="hide">
                            <span><i></i></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="order-btn-d" style="margin: 1.25rem;">
                <input type="submit" class="btn order-btn" style="margin-bottom:.625rem;" value="立即支付">
            </div>
        </section>
    </form>
</div>

</body>
<script type="text/javascript">
    var obj=strUrl();
    $(document).ready(function(){
        if(obj.state == "mall"){
            $("form").append("<input type='hidden' name='orderid' value='mall-"+obj.oid+"'>");
        }else if(obj.state == "takeout"){
            $("form").append("<input type='hidden' name='orderid' value='"+obj.oid+"'>");
        }
        $("form").attr('action','/member/charge.php');

        // $("input[name='orderid']").val(obj.oid);
        getData(obj.state, obj.oid);

        if(isWeiXin()){
            $('#weixin').attr('checked','checked');
            $('label').attr('for','alipay').parent().remove();
        }else{
            $('#alipay').attr('checked','checked');
        }
    });

    function getData(state, orderId){
        $.ajax({
            url: "/mobile/usercenter.php",
            type: "POST",
            data: {action:"smy_order", namestatus:state, order_id:orderId},
            dataType: "JSON",
            success: function(d){
                console.log(d);
                if(d.code == 200){
                    if(state == 'takeout'){
                        newOrderId = orderId.slice(8);
                    }
                    $('.order-number').text(newOrderId).attr('data-order',orderId);
                    $('.order-item').html(goodsList(d.data.orderdata));
                    $('.order-discount-Distribution').text('￥'+d.data.fee);
                    $('.order-discount-discount').text('￥'+d.data.favourable_price);
                    $('.order-discount-total,#actual-payment').text('￥'+d.data.actual_payment);

                }else{
                    alert('订单不存在');
                }
            },
            error: function(d){
                alert('订单不存在:'+d);
            }
        });
    }

    function goodsList(data){
        var str = '';
        for(var i=0;i<data.length;i++){
            str += '<li class="clearb order-item-li">\n';
            str += '<div class="clearfix">\n';
            str += '<span class="fl" style="font-size:.75rem;color:#666;max-width: 75%;">'+data[i].dishes_name+' <b class="order-item-li-i">x'+data[i].goods_number+'</b></span>\n';
            str += '<span class="fr" style="font-size:.875rem;color:#666;">￥'+data[i].sell_price+'</span>\n';
            str += '</div>\n';
            str += '</li>';
        }
        return str;
    }

    function payType(s){
        console.log(s.value);
        if(s.value == 'zhanglitong'){
            $('.enter-pass').html('<div class="bfff input-password" style="padding: 0 0 1.25rem;border-bottom: 1px solid #f2f2f2;"><input type="password" name="password" class="form-control" placeholder="请输入支付密码" required></div>');
            $("form").attr('action','/mobile/takeout.php?act=takeout_pay_zlt&order_id='+obj.oid);
        }else{
            $('.input-password').remove();
            $("form").attr('action','/member/charge.php');
        }
    }


    // var app = angular.module('PayApp', []);
    //
    // app.filter('pFloat',function(){
    //     return function(num){
    //         return parseFloat(num);
    //     }
    // });
    //
    // app.controller('PayController',function($scope,$http){
    //     $scope.isShow = false;
    //     $http({
    //         url:"../usercenter.php",
    //         method:"POST",
    //         data:{action:"smy_order",namestatus:obj.state,order_id:obj.oid},
    //         headers:{ 'Content-Type': 'application/x-www-form-urlencoded' },    //参数序列化
    //         transformRequest:function(obj){
    //             var str = [];
    //             for (var p in obj) {
    //                 str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
    //             }
    //             return str.join("&");
    //         }
    //     }).then(function(d){
    //         console.log(d);
    //         if(d.status == 200){
    //             //d=d.data;
    //             if(d.data.code == 200){
    //                 $scope.message = d.data;
    //                 $scope.OrderId = obj.oid;
    //                 $scope.State = obj.state;
    //                 console.log($scope.message.data.orderdata);
    //                 // angular.element('form').attr('action','/mobile/takeout.php?act=takeout_pay_zlt&order_id='+$scope.OrderId);
    //             }
    //         }
    //     });
    //     //判断是否微信浏览器，是默认微信支付，不是默认支付宝支付
    //     $scope.pay = isWeiXin() ? 'weixin' : 'alipay';
    //
    //     //支付方式
    //     $scope.payType = function(){
    //         $scope.pay == 'zhanglitong' ? $scope.isShow = true : $scope.isShow = false;
    //     };
    //
    //     //支付
    //     $scope.payOrder=function(){
    //         console.log($scope.pay);
    //         //angular.element('form').attr('action','/mobile/takeout.php?act=takeout_pay_zlt&order_id='+$scope.OrderId);
    //         //action="/mobile/takeout.php?act=takeout-201712291136059"
    //         //return true;
    //         //angular.element('.order-btn').submit();
    //     }
    // });
</script>
</html>