<div class="share qf" (click)="sharewx()">
  <img src="../../assets/img/weixin_sharetip.png" alt="">
  <!--微信-->
  <!--<div class="shareimg fl"  (click)="sharewx()">-->
    <!--<img src="../../assets/img/wx.png" alt="">-->
  <!--</div>-->
  <!--&lt;!&ndash;朋友圈&ndash;&gt;-->
  <!--<div class="shareimg fl shareimgpadin">-->
    <!--<img src="../../assets/img/pyq.png" alt="">-->
  <!--</div>-->
  <!--&lt;!&ndash;QQ&ndash;&gt;-->
  <!--<div class="shareimg fl">-->
    <!--<img src="../../assets/img/QQ.png" alt="">-->
  <!--</div>-->
  <!--&lt;!&ndash;QQ空间&ndash;&gt;-->
  <!--<div class="shareimg fl shareimgpadin">-->
    <!--<img src="../../assets/img/QQkj.png" alt="">-->
  <!--</div>-->
  <!--&lt;!&ndash;微博&ndash;&gt;-->
  <!--<div class="shareimg fl">-->
    <!--<img src="../../assets/img/wb.png" alt="">-->
  <!--</div>-->
</div>
