<app-head></app-head>

<div class="content">
  <div class="director">
    <p class="text1">主席：加盟费3万 （享受合伙人加盟费50%收益，轻松月入十万元！）</p>
  </div>


  <div class="director list qf">
    <div class="listimg">
      <img src="../../../assets/img/1@2x.png" alt="">
    </div>
    <div class="listtext">
      <p class="list-p">推荐合伙人，享受合伙人加盟费50%收益</p>
    </div>
  </div>

  <div class="director list qf">
    <div class="listimg">
      <img src="../../../assets/img/2@2x.png" alt="">
    </div>
    <div class="listtext">
      <p class="list-p">享受自己所对接商家交易提成的50%收益</p>
    </div>
  </div>

  <div class="director list qf">
    <div class="listimg">
      <img src="../../../assets/img/3@2x.png" alt="">
    </div>
    <div class="listtext">
      <p class="list-p">享受下级对接商家的绩差：推荐主任：10%推荐主管：20%</p>
    </div>
  </div>

  <div class="director list qf list-3">
    <div class="listimg">
      <img src="../../../assets/img/4@2x.png" alt="">
    </div>
    <div class="listtext">
      <p class="list-p">享受同级推荐5%交易提成</p>
    </div>
  </div>

  <div class="directorse qf">
    <div class="lists">①</div>
    <div class="listtext">
      <p class="list-p2">如推荐主任级合伙人3名，每位合伙人对接10家商家，每个商家产生10000元/天交易，3名*10加*10000元/天=30万，30万*5%交易提成=15000元，则收获绩差：10%*15000元=1500元/天。</p>
    </div>
  </div>
  <div class="directorse qf">
    <div class="lists">②</div>
    <div class="listtext">
      <p class="list-p2">如推荐主管级合伙人3名，每位合伙人对接10家商家，每个商家产生10000元/天交易，3名*10加*10000元/天=30万，30万*5%交易提成=15000元，则收获绩差：20%*15000元=3000元/天。</p>
    </div>
  </div>
  <div class="note">
    <div class="note-content">
      <p class="note-content-p1">备注</p>
      <p>推荐统计合作伙伴无绩差，公司奖励同级合伙人对接商家交易提成的5%；下级推荐上级无奖励，仅获得所推荐级别合作伙伴部分加盟费如：“主管推荐主任40％；主管推荐主席30%；主任推主席40%”（一次性）。</p>

    </div>
  </div>


</div>

<app-bottoms></app-bottoms>
