$green : #4fc08d;
$red : #ff6000;
$orange : #f90;
$brown:  #551900;

$color1 : #333;
$color2 : #666;
$color3 : #999;


$border : #ddd;


$h6 : .32rem;
$fontsize : .26rem;
$fontsize2 : .28rem;
$title : .3rem;
$p : .24rem;
$s : .22rem;

$padding : .24rem;