<app-titles [data]="titles"></app-titles>

<div class="frame">
  <div class="framework">
    <div class="qf framework_div">
      <div class="logo fl">
        <img src="../../../assets/img/v1.png" alt="">
      </div>
      <div class="fl">
        <p class="text">主管</p>
        <p class="comtext">享平台交易利润提成的30%收益，轻松月赚22500元！</p>
      </div>
      <div class="fr">
        <div class="bats" (click)="agent(5)">申请代理</div>
      </div>
    </div>
  </div>


  <div class="framework">
    <div class="qf framework_div">
      <div class="logo fl">
        <img src="../../../assets/img/v2.png" alt="">
      </div>
      <div class="fl">
        <p class="text">主任</p>
        <p class="comtext">享平台交易利润提成的40%收益，轻松月入67560元！</p>
      </div>
      <div class="fr">
        <div class="bats" (click)="agent(4)">申请代理</div>
      </div>
    </div>
  </div>



  <div class="framework">
    <div class="qf framework_div">
      <div class="logo fl">
        <img src="../../../assets/img/v3.png" alt="">
      </div>
      <div class="fl">
        <p class="text">主席</p>
        <p class="comtext">享平台交易利润提成的50%收益，轻松月入十万元！</p>
      </div>
      <div class="fr">
        <div class="bats" (click)="agent(3)">申请代理</div>
      </div>
    </div>
  </div>
</div>

