.container-all {
    margin-top:1.25rem;
    background-color:#fff;
}
.password-input{
    height: 2.5rem;
    font-size: .875rem;
    background-color: #fbfbfb;
    border-color: #f2f2f2;
    resize: none;
}
.white-btn {
    background-color: #fff;
    color: #333;
    width:100%;
    font-size: 1rem;
    height: 3.125rem;
    box-shadow: 0 2px 4px 0 rgba(51, 51, 51, 0.1);
}
.location {
    position:relative;
}
.password-find {
    position:absolute;
    top:6.25rem;
    right:1.875rem;
    border-left:1px solid #f2f2f2;
    padding-left:.625rem;
}
.blue {
    font-size:.75rem;
    color:#56a3e8;
}
.p{
    padding:1.25rem;
    border-bottom:1px solid #f2f2f2;
    font-size:.875rem;
}
.right {
    float:right;
}

