.title{
  height: 1.4rem;
  text-align: center;
  line-height: 1.4rem;
  font-size: 18px;
  color: #fff;
}
.titleimg{
  line-height: 1.4rem;
  width: 0.5rem;
  height: 100%;
  position: absolute;
  margin-top: -5px;
}
.titletext{
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 14px;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 0.39rem;;

}


.titleimg img{
  width: 100%;
}
.actitlei{
  position: relative;
  padding-left: 0.39rem;
  background: #3d95e5;
}
